<style>
* {
    box-sizing: border-box;
}
.triangle-up {
    border-left:25px solid transparent;
    border-right:25px solid transparent;
    border-bottom:50px solid black;
    width:0;
    height:0
}
.triangle-down {
    border-left:25px solid transparent;
    border-right:25px solid transparent;
    border-top:50px solid black;
    width:0;
    height:0
}
</style>
